.app {
    height: 100%;
    text-align: center;
    padding: 30px;

}
.MuiButton-root {
    margin: 10px;
}
.error {
    color: red;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.product {
    background-color: rgb(222 217 218 / 50%);
border:1px solid #c5c2c2;
    color:black;
    padding: 20px;
    margin: 20px;
}